.scrollHomeMenu {
}


.scrollHomeMenu > div > img {
   max-width: 310px;
   max-height: 310px;
}
.contentInfoBox img:nth-child(1) {
    min-width: 420px;
    max-width: 420px;
    height: clamp(300px 350px 350px);
}

.contentInfoBox div:first-of-type {
    top: 10%;
    left: 38%;
}

.contentInfoBox div:first-of-type p{
    font-size: 0.85em;
}

.scrollHomeMenu button {
    max-width: 250px;
    max-height: 120px;
}

.ring img {
    animation: circle-rotation 20s linear infinite;
}

@keyframes circle-rotation {
    from {
    transform: rotate(0deg)
    }
    to {
        transform: rotate(365deg);
    }
}

@media (max-width: 1200px) {
   

 
}

@media (max-width: 956px) {
    .contentInfoBox img:nth-child(1) {
        min-width: 320px;
        max-width: 320px;
        height: clamp(300px 350px 350px);
        }
    .contentInfoBox div:first-of-type {
        top: 10%;
        left: 15%;
    }
    .contentInfoBox div:first-of-type p{
        font-size: 0.7em;
    }
    .scrollHomeMenu > div > img {
        max-width: 250px;
        max-height: 250px;
     }

}

@media (max-width: 768px) {
    .contentInfoBox img:nth-child(1) {
        min-width: 320px;
    }
    .contentInfoBox div:first-of-type {
        top: 58%;
        left: 30%;
    }
    .scrollHomeMenu > div > img {
        max-width: 250px;
        max-height: 250px;
     }

}

