
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spinnerAnimation {
    animation: spin 2s linear infinite;
    
}

.spinnerAnimation  {
    width:30%;
    height: clamp(50px, 60px, 80px);
}