#customBtn {
  background: rgb(157,255,0);
  background: linear-gradient(90deg, rgba(157,255,0,1) 0%, rgba(0,255,233,1) 41%, rgba(255,237,0,1) 100%);
  -webkit-box-shadow: -7px 3px 29px -4px rgb(255, 255, 255);
  -moz-box-shadow: -7px 3px 29px -4px rgb(255, 255, 255);
  box-shadow: -7px 3px 29px -4px rgb(255, 255, 255);

}
#customBtn span {
  z-index: 100;
}


#customBtn img {
    top: 0;
    left: 0;
    height: 50px;
    width: 140px;
    
}
.infoNavbar {
    font-size: 1em;
    padding: 10px;
}



@media (max-width: 768px) { 
  .infoNavbar {
    font-size: 0.6em;
    
}
}