:root {
    --gradient-color: linear-gradient(90deg, rgba(157,255,0,1) 0%, rgba(0,255,233,1) 41%, rgba(255,237,0,1) 100%);
}
body {
    background: url('./assets/pokemon-main-background.webp') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Se vuoi un effetto fisso */

}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}


.flex-1 {
    flex: 1;
}
