:root {
    --gradient-color: linear-gradient(90deg, rgb(157, 255, 0) 0%, rgb(0, 255, 233) 41%, rgb(255, 237, 0) 100%);
}
#root, body,html {
    min-height: 100vh;
    height:100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
body, html {
    background: url('./assets/template/background.webp') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
.no-bar::-webkit-scrollbar {
    display: none;
}

.flex-1 {
    flex: 1;
}

.custom-text-shadow {
    text-shadow: 1px -1px 16px rgba(35,220,178,0.87);
}

.gradient-bg {
   background: var(--gradient-color);
}

.item-bar-bg {
    background: url('./assets/template/item-bar.webp') no-repeat;
    object-fit: cover;
}

.flex-grow-1 {
    flex-grow: 1;
}

.absolute-center-element {
    position: absolute;
    top: 50%;
    left: 50%;
      transform: translate(-50%, -50%);
}

.cm-window {
    background-color:#ffde5a;
    border: 5px solid #5ce2e7;
}

button {
    border: none!important;
}